services:
  db:
    image: postgres:15
    container_name: findmypet-postgres
    environment:
      POSTGRES_DB: postgresDB
      POSTGRES_USER: epm
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: